extends layout 

block content 
    h1= title 

    div(class='category--list') 
        h3 #{department.name}
        each department_category in department_categories
            div(class='category') 
                a(href=department_category.url) #{department_category.name}
                p #{department_category.description}

        else 
            p There are no categories in this department

    a(href='/inventory/category/create') Create Category  
    |
    a(href=department.url+'/update') Update Department
    |
    a(href=department.url+'/delete') Delete Department